$dark-grey-border: #e5e5e5;
$darker-grey-input: #ccc;
$darkest-grey-font: #999;
$light-blue-link: #4183c4;
$lighter-black-font: #333;
$light-grey-background: #f5f5f5;
$medium-grey-font: #666;

$font-size: 100%;
$font-family-main: Helvetica, arial, freesans, clean, sans-serif;

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.body {
  font-family: $font-family-main;
}

.avatar {
  border-radius: 6px;
  margin: 0;
  padding: 0;
}

.header_inner_container {
  margin: 0 auto;
  padding: 10px 0;
  position: relative;
  width: 980px;
}

header {
  background: $light-grey-background;
  border-bottom: 1px solid $dark-grey-border;
  height: 49px;
  min-width: 1000px;
}

.octicon-mark-github {
  color: $lighter-black-font;
  display: inline;
  font-size: 28px;
  height: 28px;
  margin: 0 10px 0 -2px;
  width: 28px;
}

input {
  border: 1px solid $darker-grey-input;
  border-radius: 3px;
  display: inline;
  font-size: 12px;
  left: -4px;
  min-height: 28px;
  padding: 4px 20px 4px 7px;
  position: relative;
  top: -5px;
  width: 360px;
}

.nav_one,
.nav_two {
  color: $lighter-black-font;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  left: -31px;
  margin: 0;
  position: relative;
  top: -5px;
  vertical-align: middle;
}

.nav_two {
  margin-left: 80px;

  li {
    color: $lighter-black-font;
    display: inline;
    font-weight: bold;
    list-style: none;
    margin-right: 5px;
    position: relative;
    top: -4px;
  }
}

.nav_one li {
  display: inline;
  list-style: none;
  margin-right: 12px;
}

.header_avatar {
  border-radius: 3px;
  height: 20px;
  margin-right: 5px;
  padding: 0;
  position: relative;
  top: 6px;
}

.sidebar {
  width: 230px;
}

.sidebar_avatar {
  height: 230px;
  width: 230px;
}

.name {
  display: block;
  font-size: 26px;
  font-weight: bold;
  margin-top: 1px;
}

.login_name {
  color: $medium-grey-font;
  display: block;
  font-size: 20px;
  font-weight: 300;
}

.contact_info {
  border-top: 1px solid $dark-grey-border;
  color: $lighter-black-font;
  list-style: none;
  padding: 15px 0 2px;

  a {
    color: $light-blue-link;
    text-decoration: none;
  }

  li {
    font-size: 14px;
    padding: 2px 0;
  }

  .octicon {
    color: $darker-grey-input;
    margin: 0 10px 2px 3px;
  }
}

.follow_section {
  border-bottom: 1px solid $dark-grey-border;
  border-top: 1px solid $dark-grey-border;
  color: $light-blue-link;
  font-size: 28px;
  font-weight: bold;
  margin-top: 10px;
  padding: 15px 0;
  text-align: center;

  li {
    display: inline-block;
    width: 30%;
  }

  a {
    color: $light-blue-link;

    &:hover {
      span {
        color: $light-blue-link;
      }
    }

    text-decoration: none;
  }

  span {
    color: $darkest-grey-font;
    display: block;
    font-size: 11px;
    font-weight: normal;
  }
}

.main_inner_container {
  margin: 20px auto;
  width: 980px;
}

.inner_container .octicon {
  text-align: center;
  width: 16px;
}
