<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Recreation of My GitHub Profile Page</title>
    <link rel="stylesheet" href="http://necolas.github.io/normalize.css/3.0.1/normalize.css">
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/octicons/2.0.2/octicons.min.css">
    <link rel="stylesheet" href="dist/styles/main.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.6.0/underscore-min.js"></script>
  </head>
  <body>
    
    <script type="text/template" id="header">
      <img class="header_avatar avatar" src="<%= avatar_url %>"><span class ="header_login_name"><%= login %></span>
    </script>

    <script type="text/template" id="sidebarImageSection">
      <a href="<%= html_url %>"><img class="sidebar_avatar avatar" src="<%= avatar_url %>"></a>

      <div class="username_area">
        <span class ="name"><%= name %></span>
        <span class ="login_name"><%= login %></span>
      </div><!-- .usernameTextArea -->

        <ul class="contact_info">
          <li><span class="octicon octicon-location"></span><%= location %></li>
          <li><span class="octicon octicon-mail"></span><a href="mailto: <%= email %>"><%= email %></a></li>
          <li><span class="octicon octicon-link"></span><a href="<%= blog %>"><%= blog %></a></li>
          <li><span class="octicon octicon-clock"></span></span><%= created_at %></li>
        </ul>

      <div class="follow_section">
        <h2><%= followers %></h2>
        <h2><%= starred %></h2>
        <h2><%= following %></h2>
      </div><!-- .followSection -->
    </script>




    <div class="outerContainer">

        <header>
          <div class="header_inner_container">
            <span class="octicon octicon-mark-github"></span>
            <input type="text" placeholder="Search GitHub">



              <ul class="nav_one">
                <li>Explore</li>
                <li>Gist</li>
                <li>Blog</li>
                <li>Help</li>
              </ul>

              <ul class="nav_two">
                <li class="nav_two_avatar"></li>
                <li><span class="octicon octicon-plus"></span></li>
                <li><span class="octicon octicon-inbox"></span></li>
                <li><span class="octicon octicon-gear"></span></li>
                <li><span class="octicon octicon-sign-out"></span></li>
              </ul>

          </div><!-- .header_inner_container -->
        </header>
      <div class="main_inner_container">
        <section class="sidebar">
        <div class="imageHolder"></div><!-- .imageHolder -->
        <div class="infoArea"></div><!-- .infoArea -->
        </section>
        <div class="mainArea">

          </div><!-- .mainArea -->

          </div><!-- .innerContainer -->
          </div><!-- .outerContainer -->


          <script src="token.js"></script>
          <script src="main.js"></script>
        </body>
      </html>